<div class="container">
  <h2 class="text-center">My Information</h2>
  <br/><br/>
  <h3 class="text-center" ng-if="!myInfoCtrl.user.valid">Not Signed Up Yet. <a ui-sref="public.singup">Sign up Now!</a></h3>
  <div class="row" ng-if="myInfoCtrl.user.valid">
    <p class="col-md-3 col-sm-6 col-xs-12 col-xxs-12"><strong>Name:</strong></p>
    <p class="col-md-9 col-sm-6 col-xs-12 col-xxs-12">{{myInfoCtrl.user.firstName}} {{myInfoCtrl.user.lastName}}</p>

    <p class="col-md-3 col-sm-6 col-xs-12 col-xxs-12"><strong>Email:</strong></p>
    <p class="col-md-9 col-sm-6 col-xs-12 col-xxs-12">{{myInfoCtrl.user.email}}</p>

    <p class="col-md-3 col-sm-6 col-xs-12 col-xxs-12"><strong>Phone Number:</strong></p>
    <p class="col-md-9 col-sm-6 col-xs-12 col-xxs-12">{{myInfoCtrl.user.phone}}</p>

    <p class="col-md-3 col-sm-6 col-xs-12 col-xxs-12"><strong>Favorite Dish:</strong></p>
    <menu-item class="col-md-9 col-sm-6 col-xs-12 col-xxs-12" menu-item="myInfoCtrl.user.menuItem"></menu-item>

  </div>
  <br/><br/>
</div>
